.banner {
  height: 600px;
  position: relative;
  object-fit: contain;
  color: white;
  background-repeat: no-repeat;
}

.banner__content {
  margin-left: 20px;
  padding-top: 10rem;
  max-width: 500px;
}

.banner__title {
  font-size: 3.5rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

.banner__description {
  font-size: 1rem;
  line-height: 1.4;
  padding-top: 1rem;
  max-width: 380px;
  height: 80px;
}

.banner__button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  padding: 1rem 2.5rem;
  border-radius: 0.2vw;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  transition: all 0.25s linear;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
}
.banner--fadeBottom {
  height: 12.9rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

@media screen and (max-width: 500px) {
  .banner__title {
    font-size: 2.5rem;
  }

  .banner__description {
    font-size: 0.75rem;
    max-width: 260px;
  }
}
